# package-lock=false
registry=https://registry.npm.taobao.org
# registry=https://registry.npmmirror.com
# proxy=http://192.168.20.26:808
# https-proxy=http://192.168.20.26:808
# lastUpdateCheck=1589292193336